<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QQEmojiReactor">

        <!-- Xposed 模块标识 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_desc" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <!-- 跨进程配置 Provider，彻底打通 QQ 进程在 Android 10~14 沙盒下的数据读取 -->
        <provider
            android:name=".data.ConfigContentProvider"
            android:authorities="com.emoji.reactor.provider"
            android:exported="true" />

        <!-- 模块独立设置主页（桌面启动入口） -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 方案编辑与表情选择页面 -->
        <activity
            android:name=".ui.EditGroupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- QQ 头像交互裁剪页面 -->
        <activity
            android:name=".ui.crop.CropAvatarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>
